body
{
    margin: auto;
    outline-color: black;outline-style: solid;
}
@media screen and (min-width: 1200px) 
{
    body
    {
        width:1080px;
        font-size: 20px;
    }
    h4
    {
        text-indent: 1em; 
    }
    .photo5,.photo4,.photo3
    {
        width: 300px;
        
    }
    .photo2,.photo1
    {
        height: 250px;
    }
    .layout2
    {
        transform: translate(-60px,0px); 
    }
    .container 
    {  
    display: grid;
    grid-template-columns:5% 27% 27% 27% 5%;
    grid-template-rows: 10% 5% 30% 5% 35% 5%;
    gap: 1em 0.5em;
    grid-auto-flow: row;
    grid-template-areas:
      ". header header header ."
      ". Photography . . ."
      ". photolink photo4 photo3 ."
      ". designs . . ."
      ". layout1 . layout2 ."
      ". link . . .";
    }
}
@media screen and (min-width: 768px) and (max-width:1200px)
{
    body
    {
        width: 720px;
        
    }
    .photo5,.photo4,.photo3,.layout1,.layout2
    {
        transform: translate(20px,0px);
    }
    .photo5,.photo4,.photo3
    {
        max-width: 270px;
         
    }
    .photo2,.photo1
    {
        place-items: end;
        max-height: 230px;
    }
    .container 
    {  display: grid;
        grid-template-columns:  50% 50% ;
        grid-template-rows: 100px 50px 200px 200px 50px 300px 300px 20px; 
        gap: 1em 0em;
        grid-auto-flow: row;
        justify-items: stretch;
        grid-template-areas:
        "header header "
        "Photography . "
        "photolink photo3 "
        "photo4 . "
        "designs . "
        "layout1 . "
        "layout2 . "
        " link . ";
    } 
}
@media screen  and (max-width:768px)
{
    body
    {
        width: auto;
        font-size: 62.5%;
    }
    .photo5,.photo4,.photo3,.layout1,.layout2
    {
        transform: translate(20px,0px);
    }
    .photo5,.photo4,.photo3
    {
        width: 270px;
        
    }
    .photo2
    {
        max-height: 230px;
    }
    .photo1
    {
        width: 350px;
    }
    .container 
    {  display: grid;
        grid-template-columns:  50% 50% ;
        grid-template-rows: 50px 25px 200px 200px 200px 25px 300px 300px 20px; 
        gap: 1em 0em;
        grid-auto-flow: row;
        justify-items: stretch;
        grid-template-areas:
        "header header "
        "Photography . "
        "photolink . "
        "photo3 . "
        "photo4 . "
        "designs . "
        "layout1 . "
        "layout2 . "
        "link . ";
    }
}




.contant 
{
    display: grid; 
    grid-template-columns: 0.5fr 1.5fr 1.3fr 0.5fr; 
    grid-template-rows: 0.1fr 1fr 0.4fr; 
    gap: 50px 30px; 
    grid-template-areas: 
      ". . . ."
      ". photoG p ."
      ". link . ."; 
    
}

.photoG 
{ 
    grid-area: photoG;
    max-width: 400px; 
}
p 
{ 
    grid-area: p; 
    font: size 1em;
    justify-items: end; 
}
.Photography { grid-area: Photography; }
.photolink { grid-area: photolink; }
.photo4 { grid-area: photo4; }
.photo3 { grid-area: photo3; }
.designs { grid-area: designs; }
.layout1 { grid-area: layout1; }
.layout2
{ 
    grid-area: layout2; 
    
}
.link 
{ 
    transform: translate(0px,-30px); 
    grid-area: link; 
}
header 
{ 
    grid-area: header;
    font-family:"Arial", sans-serif;
    background-color: #648dcc;
    text-indent: 1em; 
    
}
h2,h3
{
    font-family:"Arial", sans-serif;
    text-indent: 1em;  
}
dfn,h4
{
    color: rgb(126, 126, 126);
}

footer
{
    float: right;
}