.container {  display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-rows: 600px 300px 100px; 
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    justify-items: stretch;
    grid-template-areas:
      "hero hero hero"
      ". contant ."
      ". link .";
  }
  
.hero 
{ 
    display: none;
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-rows: 600px;
    grid-template-areas:". hero-text .";
    grid-area: hero;
    background: url("interlaken.jpg") center 0 no-repeat;
    animation-name: secondkey;
    animation-duration: 3000ms;
    opacity: 0.5;
    animation-fill-mode: forwards;
}
@keyframes secondkey
{
    50%
    {
        opacity: 0.75;
    }
    100%
    {
        opacity: 1;
    }
}
.hero-text
{
    
    width: 300px;
    grid-area: hero-text;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    text-align:center;
    animation-name: firstkey;
    animation-duration: 3000ms;
    color: 	#0e0e24;
}
.hero-text::before
{
    animation-play-state:paused;
}
.hero-text:hover
{
    animation-play-state:running;
}
@keyframes firstkey
{
    
    25%
    {
        transform: translateX(100px);
    }
    50%
    {
        color: 	#c7a338;
    }
    25%,75%
    {
        color: 	#b94e27;
    }

}
.city1
{
    height: 600px;
}

.contant 
{ 
    grid-area: contant; 
    max-width: 680px;
    margin: auto;
}
  
.link { grid-area: link; }
  
header 
{  
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". h1 .";
    grid-area: header;  
}
  
h1 { grid-area: h1; }
  
body
{
    width: 100%;
    margin: 0;
}
header
{
    font-family:"Arial", sans-serif;
    background-color: #648dcc;
    text-indent: 1em;
    grid-area: header;
} 
h3,h4
{
    font-family:"Arial", sans-serif;
    text-indent: 1em;  
}
.first
{
    display: flex ;
    flex-direction: row;
    gap: 200px;
    flex-wrap:wrap;
    flex-basis: 1080px;
}
.myphoto
{
    width: 100px;
    transform: translate(0px,-15px); 
    flex-shrink:0 
}
ul,ol,.city
{
    font-family:"Georgia", serif;
}
dfn,h4
{
    color: rgb(126, 126, 126);
}
a
{
    text-decoration: none;    
}
.link
{
    text-indent: 1em;
    grid-area: link;
}
footer
{
    float: right;
}