body
{
    margin: auto;
    width: 100%;
}
.container {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 0.5fr 2fr .5fr; 
    grid-template-rows: .5fr 2fr 2fr .5fr; 
    gap: 0em 0px; 
    justify-items: stretch; 
  }
  .h1 { grid-area: 1 / 2 / 2 / 3; }
  .header-background { grid-area: 1 / 1 / 2 / 4; }
  .hero { grid-area: 2 / 1 / 3 / 4; }
  .contant { grid-area: 3 / 2 / 4 / 3; }
  .link { grid-area: 4 / 2 / 5 / 3; 
    text-indent: 1em;}
    
.containerpage2 
{   
    display: grid; 
    grid-template-columns: 0.5fr 2fr 0.5fr; 
    grid-template-rows: 0.5fr 2.fr 0.5fr; 
    grid-template-areas:
    ". header ."
    ". contant ."
    ". link .";
}
.contantpage2 
{ 
    grid-area: contant; 
}
header
{
    font-family:"Arial", sans-serif;
    background-color: #648dcc;
    text-indent: 1em;
    grid-area: header;
} 
h3,h4
{
    font-family:"Arial", sans-serif;
    text-indent: 1em;  
}
.first
{
    display: flex ;
    flex-direction: row;
    gap: 200px;
    flex-wrap:wrap;
    flex-basis: 1080px;
}
.myphoto
{
    width: 100px;
    transform: translate(0px,-15px); 
    flex-shrink:0 
}
ul,ol,.city
{
    font-family:"Georgia", serif;
}
.city
{
    transform: translate(20px,0px)
}
.photo123
{
    width: 200px;
}
.city-photo
{
    display: flex ;
    flex-direction: row;
    justify-content: space-around
}    
dfn,h4
{
    color: rgb(126, 126, 126);
}
a
{
    text-decoration: none;    
}
.link
{
    text-indent: 1em;
    grid-area: link;
}
footer
{
    float: right;
}

  
 
  
  
  
  
