body
{
    width: 1080px;
    outline-color: black;outline-style: solid;
}
.container 
{   
    display: grid; 
    grid-template-columns: 0.5fr 2fr 0.5fr; 
    grid-template-rows: 0.5fr 2.fr 0.5fr; 
    grid-template-areas:
    ". header ."
    ". contant ."
    ". link .";
}
.contant { grid-area: contant; }
header
{
    font-family:"Arial", sans-serif;
    background-color: #648dcc;
    text-indent: 1em;
    grid-area: header;
} 
h3,h4
{
    font-family:"Arial", sans-serif;
    text-indent: 1em;  
}
.first
{
    display: flex ;
    flex-direction: row;
    gap: 200px;
    flex-wrap:nowrap;
    flex-basis: 1080px;
}
.myphoto
{
    width: 100px;
    transform: translate(0px,-15px); 
    flex-shrink:0 
}
ul,ol,.city
{
    font-family:"Georgia", serif;
}
.city
{
    transform: translate(20px,0px)
}
.photo123
{
    width: 200px;
}
.city-photo
{
    display: flex ;
    flex-direction: row;
    justify-content: space-around
}    
dfn,h4
{
    color: rgb(126, 126, 126);
}
a
{
    text-decoration: none;    
}
.link
{
    text-indent: 1em;
    grid-area: link;
}
footer
{
    float: right;
}

  
 
  
  
  
  
